

<div id="dashboard" class="row">
  <section id="tracks" class="col-md-4">
    <span class="jumbo-text">0</span>
    <i class="fa fa-sliders"></i>
    <h2>Tracks</h2>
  </section>
  <section id="projects" class="col-md-4">
    <span class="jumbo-text">0</span>
    <i class="fa fa-file-audio-o"></i>
    <h2>Projects</h2>
  </section>
  <section id="songs" class="col-md-4">
    <span class="jumbo-text">0</span>
    <i class="fa fa-music"></i>
    <h2>Songs</h2>
  </section>
</div>
