

<h1>Dashboard</h1>

<div id="dashboard" class="row-fluid">
  <div class="span4">

    <%= render partial: 'tracks/create', formats: [:html] %>
    <h3>My Tracks</h3>
    <div class="track-list">
    </div>
  </div>

  <div class="span4">
    <%= link_to ' Create Project', '#createProject', id: 'create-project', class: 'icon-plus-sign btn', data: { toggle: "modal" } %>
    <h3>My Projects</h3>
  </div>

  <div class="span4">
    <%= link_to ' Create Song', '#createSong', id: 'create-song', class: 'icon-plus-sign btn', data: { toggle: "modal" } %>
    <h3>My Songs</h3>
  </div>
</div>
