
  <%= f.text_field :title, placeholder: 'Untitled Track', class: 'form-control jumbo-text-field' %>

  <section id="editor" class="well">
    <div id="drag-or-upload">
      <div class="clickbox">
        <span class="drag-file">Drag an audio file</span>
        <span class="or">or <i class="fa fa-circle-thin"></i></span>
        <span class="upload">click to upload</span>
      </div>
      <input type="file" name="audio"></input>
    </div>
  </section>
