<div class="container" data-editor>
  <h1 class="title">HTML5 Web Audio Recording</h1>

  <div class="navbar">
    <div class="row">
      <div class="col-lg-4 microphone">
        <i class="icon-microphone inset"></i>
        <button id="mic-start" type="button" class="btn btn-default navbar-btn">Activate</button>
        <button id="mic-stop"  type="button" class="btn btn-default navbar-btn">Deactivate</button>
        <canvas id="live-waveform" width="100" height="35"></canvas>
        <div id="live-waveform-glass"></div>
      </div>
      <div class="col-lg-4 record disabled">
        <i class="icon-circle inset"></i>
        <button id="rec-start" type="button" class="btn btn-default navbar-btn">Start</button>
        <button id="rec-stop"  type="button" class="btn btn-default navbar-btn">Stop</button>
      </div>
      <div class="col-lg-4 playback disabled">
        <i class="icon-play inset"></i>
        <button type="button" class="btn btn-default navbar-btn">Start</button>
        <button type="button" class="btn btn-default navbar-btn">Stop</button>
      </div>
    </div>
  </div>

  <div id="canvases">
    <canvas id="grid"></canvas>
    <canvas id="recording"></canvas>
    <canvas id="cursor"></canvas>
  </div>
</div>