// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clickable {
  width:100%;
  height:100%;
  cursor:pointer;
}

#recorderFlashContainer {
  z-index:1050;
}

#dashboard {
  padding-top:30px;

  table {
    width:90%;
  }
}

#createTrack {

  // Modal Body
  .modal-body {
    max-height:200px; overflow:hidden;

    .row-fluid div { text-align:center; padding:0px; margin:0px; }
    a   { color:#000000; &:hover { color:#000000; text-decoration:none; } }
    h3  { margin-top:0px; padding-top:0px; }
    .or { padding-top:75px !important; font-size:30px; }

    div#select-type    { position:relative; }
    div#record-actions { position:relative; }
    div#track-details  { position:relative; }
    div#upload-slide { display:none; position:relative;  }

    #record-actions {
      text-align:center;
      span {
        margin-left:10px;
        margin-right:10px;
        &.icon-circle { &:hover { color:#ea0404; } }
        &.icon-play { &:hover { color:green; } }
        &.icon-stop { display:none; &:hover { color:#ea0404; } }
        &.icon-pause { display:none; }
        &.disabled { color:#cccccc !important; }
      }

      canvas {
        width:530px;
        height:100px;
        border:1px solid #00ff00;
      }
    }

    #track-details {
      top:-415px; left:600px;
      label { text-align:left; text-indent:17px; }
      textarea#track_description { height:90px; }
    }

    #upload-to-soundcloud { display:none; position:absolute; z-index:1081;
      top:0px; text-align:center; font-size:17px; font-weight:bold; width:530px;
      height:100%; padding-top:20px; }
    #upload-to-soundcloud-mask { display:none; position:absolute; z-index:1080; width:530px; height:100%;
      background-color:#ffffff; opacity:0.7; top:0px; }
  }

  // Modal Footer
  .modal-footer {
    #to-details { display:none; }
    #to-upload  { display:none; }
  }
}