// Place all the styles related to the editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html.editor {

  .jumbo-text-field {
    font-size: 50px;
    height: auto;
    border: none;
    box-shadow: none;
  }

  section#editor {
    width: 100%;
    min-height: 250px;
    background: #252525;
    border-radius: 10px;

    div#drag-or-upload {
      height: 210px;
      padding-top: 25px;
      font-size: 28px;
      font-family: 'Oxygen', sans-serif;
      text-align: center;
      cursor: pointer;
      span {
        position: relative;
        display: block;
        text-align: center;
        color: #fff;
        line-height: 53px;
        &.or {
          i.fa {
            position: absolute;
            left: 0;
            right: 0;
            font-size: 60px;
            color: #5e8bac;
          }
        }
      }
      input {
        opacity: 0;
      }
    }
  }

}
